@keyframes spin-to-right {
  0% {
    transform: translateX(-1000%);
  }
  20% {
    transform: translateX(-150%);
  }
  60% {
    transform: translate(0);
  }
}
@keyframes scale-up-R {
  0% {
    z-index: 1;
    transform: translateX(-100%) scale(1);
  }
  30% {
    z-index: 1;
    transform: translateX(-100%) scale(1);
  }
  60% {
    z-index: 1;
    transform: translateX(0%) scale(1);
  }
  100% {
    z-index: 2;
    transform: translate(0) scale(1.2);
  }
}
@keyframes scale-down-R {
  0% {
    z-index: 2;
    transform: translateX(-100%) scale(1.2);
  }
  30% {
    transform: translatex(-100%) scale(1);
  }
  60% {
    z-index: 1;
    transform: translate(0) scale(1);
  }
}
@keyframes throw-it-out-R {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(100%);
  }
  60% {
    transform: translateX(200%);
  }
  100% {
    transform: translate(1000%);
  }
}
@keyframes spin-to-left {
  0% {
    transform: translateX(1000%);
  }
  20% {
    transform: translateX(150%);
  }
  60% {
    transform: translate(0);
  }
}
@keyframes scale-up-L {
  0% {
    z-index: 1;
    transform: translateX(100%) scale(1);
  }
  30% {
    z-index: 1;
    transform: translateX(100%) scale(1);
  }
  60% {
    z-index: 1;
    transform: translateX(0%) scale(1);
  }
  100% {
    z-index: 2;
    transform: translate(0%) scale(1.2);
  }
}
@keyframes scale-down-L {
  0% {
    z-index: 2;
    transform: translateX(100%) scale(1.2);
  }
  30% {
    transform: translatex(100%) scale(1);
  }
  60% {
    z-index: 1;
    transform: translate(0) scale(1);
  }
}
@keyframes throw-it-out-L {
  0% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  100% {
    transform: translate(-1000%);
  }
}
@keyframes opacity-to-true {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shadow-opacity {
  animation: opacity-to-true 0.5s ease-in;
}

.spin-to-right__first-child {
  animation: spin-to-right 0.5s ease-in;
}

.spin-to-right__second-child {
  animation: scale-up-R 0.5s ease-in;
}

.spin-to-right__third-child {
  animation: scale-down-R 0.5s ease-in;
}

.spin-to-right__fourth-child {
  animation: throw-it-out-R 0.5s ease-in;
}

.spin-to-left__first-child {
  animation: scale-down-L 0.5s ease-in;
}

.spin-to-left__second-child {
  animation: scale-up-L 0.5s ease-in;
}

.spin-to-left__third-child {
  animation: spin-to-left 0.5s ease-in;
}

.spin-to-left__fourth-child {
  animation: throw-it-out-L 0.5s ease-in;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: Roboto;
}

body {
  min-width: 300px;
}

.background {
  background-color: rgb(54, 54, 54);
}

/* NAVBAR */
.navbar {
  top: 0px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(54, 54, 54, 0.126);
  position: fixed;
  z-index: 3;
}

.navbar > a {
  margin: 5px 0px 5px 30px;
  color: antiquewhite;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 50;
}

.navbar > a > b {
  margin-left: 5px;
  font-weight: 600;
}

.navbar > div {
  display: flex;
  direction: row;
  margin-right: 20px;
  align-items: center;
}

.navbar-link {
  font-size: 15px;
  color: antiquewhite;
  margin-right: 10px;
  text-transform: uppercase;
  border-bottom: solid 1px rgba(250, 235, 215, 0);
  margin-top: 1px;
}
.navbar-link:hover {
  cursor: pointer;
  border-bottom: solid 1px rgb(250, 235, 215);
  margin-top: 1px;
}

.navbar-chosen {
  border-bottom: solid 1px rgb(250, 235, 215);
  margin-top: 1px;
}

.navbar > div > i {
  margin-right: 10px;
  color: antiquewhite;
  transition: all 100ms ease-out;
  cursor: pointer;
}

.navbar > div > i:hover {
  transform: scale(1.1);
}

/* CONTAINER */
#main {
  height: 100vh;
  overflow: hidden;
}
#main section {
  height: 100vh;
}

.about__box {
  height: calc(100% - 150px);
  width: 80%;
  margin: 0 10% 0 10%;
  padding: 100px 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10%;
  overflow: hidden;
}
.about__box__intro {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
}
.about__box__intro__article {
  width: clamp(200px, 50%, 900px);
}
.about__box__intro__article__title {
  text-transform: uppercase;
  color: antiquewhite;
  font-size: 4vw;
  font-weight: 500;
}
.about__box__intro__article__text {
  color: antiquewhite;
  font-size: 1.5vw;
  font-weight: 100;
}
.about__box__intro__photo {
  margin-left: 20%;
  width: 20%;
}
.about__box__techstack-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__box__techstack-box__title {
  color: antiquewhite;
  font-size: 5vh;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}
.about__box__techstack-box__icons-box {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.about__box__techstack-box__icons-box__icon {
  width: 10%;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.projects__title {
  text-transform: uppercases;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: 7vh;
  color: antiquewhite;
  margin-top: calc(100px + 1%);
  margin-bottom: 1%;
  margin-left: 0px;
  margin-right: 0px;
}
.projects__scroll-box {
  height: calc(80% - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__scroll-box__item {
  height: 92%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projects__scroll-box__item__title {
  background-color: rgba(128, 128, 128, 0.112);
  height: 90%;
  width: 7%;
  margin: 0 1.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.projects__scroll-box__item__title h3 {
  font-weight: 300;
  font-size: 1.5vw;
  color: #1d0bf4;
  text-transform: uppercase;
}
.projects__scroll-box__item img {
  height: 90%;
  width: 90%;
}
.projects__scroll-box__item:nth-child(1) {
  position: relative;
  transition: opacity 0.5s;
}
.projects__scroll-box__item:nth-child(1):hover {
  cursor: pointer;
  opacity: 1;
  opacity: 0.7;
}
.projects__scroll-box__item__shadowL {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(to left, #222222, transparent);
  z-index: 1;
}
.projects__scroll-box__item:nth-child(2) {
  transform: scale(1.2);
  z-index: 2;
}
.projects__scroll-box__item:nth-child(3) {
  position: relative;
  transition: opacity 0.5s;
}
.projects__scroll-box__item:nth-child(3):hover {
  cursor: pointer;
  opacity: 1;
  opacity: 0.7;
}
.projects__scroll-box__item__shadowR {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: linear-gradient(to RIGHT, #222222, transparent);
  z-index: 1;
}
.projects__scroll-box__item:nth-child(4) {
  position: absolute;
  left: 65%;
  top: 4%;
  z-index: -1;
}

.contact {
  background: #11171f;
}
.contact__box {
  display: flex;
  width: 80%;
  margin: 0 10%;
  min-height: calc(100% - 200px);
  padding: 100px 0;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.contact__box__left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact__box__left-side__title {
  color: antiquewhite;
  font-size: 4vw;
  font-weight: 500;
  text-transform: uppercase;
}
.contact__box__left-side__text {
  color: antiquewhite;
  font-size: 1.5vw;
  font-weight: 100;
}
.contact__box__right-side {
  width: 50%;
  min-height: calc(100% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__box__right-side > label {
  text-transform: uppercase;
  margin: 2% 0 1.5% 10%;
  width: 90%;
  text-justify: left;
  color: antiquewhite;
  font-size: 2vh;
  font-weight: 500;
}
.contact__box__right-side > input, .contact__box__right-side > textarea {
  color: antiquewhite;
  background-color: #202b39;
  font-weight: 300;
  font-size: 2vh;
  width: 90%;
  margin-left: 10%;
  box-shadow: -5px 5px #888888;
}
.contact__box__right-side > input {
  padding: 2%;
}
.contact__box__right-side > textarea {
  padding: 2%;
  height: 0, 20vh, 40%;
  resize: none;
}

.smolscrin {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.smolscrin__title {
  color: aquamarine;
  font-size: 5vw;
  font-weight: 200;
}
.smolscrin__text {
  color: #222222;
  font-size: 2vw;
  font-weight: 300;
}
@media screen and (max-height: 300px) {
  .smolscrin {
    visibility: visible;
  }
}/*# sourceMappingURL=index.css.map */