@keyframes spin-to-right {
  0% {
    transform: translateX(-1000%);
  }
  30% {
    transform: translateX(-150%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes scale-up {
  0% {
    z-index: 1;
    transform: translateX(-100%) scale(1);
  }
  100% {
    z-index: 2;
    transform: translate(0) scale(1.2);
  }
}
@keyframes scale-down {
  0% {
    z-index: 2;
    transform: translateX(-100%) scale(1.2);
  }
  30% {
    transform: translatex(-50%) scale(1.05);
  }
  100% {
    z-index: 1;
    transform: translate(0) scale(1);
  }
}
@keyframes throw-it-out-R {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(1000%);
  }
}
@keyframes opacity-to-true {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shadow-opacity {
  animation: opacity-to-true 2s ease-in;
}

.spin-to-right__first-child {
  animation: spin-to-right 2s ease-in;
}

.spin-to-right__second-child {
  animation: scale-up 2s ease-in;
}

.spin-to-right__third-child {
  animation: scale-down 2s ease-in;
}

.spin-to-right__fourth-child {
  animation: throw-it-out-R 2s ease-in;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: Roboto;
}

.background {
  background-color: rgb(54, 54, 54);
}

/* NAVBAR */
.navbar {
  top: 0px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(54, 54, 54, 0.126);
  position: fixed;
  z-index: 3;
}

.navbar > a {
  margin: 5px 0px 5px 30px;
  color: antiquewhite;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 50;
}

.navbar > a > b {
  margin-left: 5px;
  font-weight: 600;
}

.navbar > div {
  display: flex;
  direction: row;
  margin-right: 20px;
  align-items: center;
}

.navbar-link {
  font-size: 15px;
  color: antiquewhite;
  margin-right: 10px;
  text-transform: uppercase;
  border-bottom: solid 1px rgba(250, 235, 215, 0);
  margin-top: 1px;
}
.navbar-link:hover {
  cursor: pointer;
  border-bottom: solid 1px rgb(250, 235, 215);
  margin-top: 1px;
}

.navbar-chosen {
  border-bottom: solid 1px rgb(250, 235, 215);
  margin-top: 1px;
}

.navbar > div > i {
  margin-right: 10px;
  color: antiquewhite;
  transition: all 100ms ease-out;
  cursor: pointer;
}

.navbar > div > i:hover {
  transform: scale(1.1);
}

/* CONTAINER */
#main {
  height: 100vh;
  overflow: hidden;
}
#main section {
  height: 100vh;
}
#main section:nth-child(3) {
  background-color: rgb(36, 18, 54);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.projects__title {
  width: 100%;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  font-size: 7vh;
  color: antiquewhite;
  margin: calc(100px + 1%) 0px 1% 0px;
}
.projects__scroll-box {
  height: calc(80% - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__scroll-box__item {
  height: 92%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projects__scroll-box__item__title {
  height: 90%;
  width: 7%;
  margin: 0 1.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.projects__scroll-box__item__title h3 {
  font-weight: 300;
  font-size: 1.5vw;
  color: #1d0bf4;
  text-transform: uppercase;
}
.projects__scroll-box__item img {
  height: 90%;
  width: 90%;
}
.projects__scroll-box__item:nth-child(1) {
  position: relative;
}
.projects__scroll-box__item__shadowL {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(to left, #222222, transparent);
  z-index: 1;
}
.projects__scroll-box__item:nth-child(2) {
  transform: scale(1.2);
  z-index: 2;
}
.projects__scroll-box__item:nth-child(3) {
  position: relative;
}
.projects__scroll-box__item__shadowR {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: linear-gradient(to RIGHT, #222222, transparent);
  z-index: 1;
}
.projects__scroll-box__item:nth-child(4) {
  position: absolute;
  left: 65%;
  top: 4%;
  z-index: -1;
}/*# sourceMappingURL=index.css.map */