* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: monospace;
}

#snake-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  background: rgba(245, 245, 245, 0.43);
}

#score-display {
  text-align: center;
  position: relative;
  margin: 110px auto 0;
  color: antiquewhite;
}
